@model AiringSchedule

@{
    ViewData["Title"] = "AddSchedule";
}

<h1>AddSchedule</h1>

<h4>AiringSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSchedule">
            <partial name="_scheduleFormPartial" model="@Model" />
        </form>
    </div>
</div>

<div>
    <a asp-action="ScheduleMenu">Back to List</a>
</div>

