@model Teletext.Models.TVProgram

@{
    ViewData["Title"] = "AddTVProgram";
}

<h1>AddTVProgram</h1>

<h4>TVProgram</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTVProgram" asp-controller="Admin">
            <partial name="_ProgramFormPartial" model="@Model" />
        </form>
    </div>
</div>

<div>
    <a asp-action="TVProgramMenu">Back to TVProgram menu</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
