@model Teletext.Models.TVProgram

@{
    ViewData["Title"] = "EditTVProgram";
}

<h1>EditTVProgram</h1>

<h4>TVProgram</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTVProgram" asp-controller="Admin">
            <partial name="_ProgramFormPartial" model="@Model" />
            <input type="hidden" value="@Model?.Id" name="Id"/>
        </form>
    </div>
</div>

<div>
    <a asp-action="TVProgramMenu">Back to List</a>
</div>

