@model AiringSchedule

@{
    ViewData["Title"] = "EditSchedule";
}

<h1>EditSchedule</h1>

<h4>AiringSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSchedule">
            <partial name="_scheduleFormPartial" model="@Model" />
            <input type="hidden" value="@Model?.Id" name="id" />
        </form>
    </div>
</div>

<div>
    <a asp-action="ScheduleMenu">Back to List</a>
</div>

