@model Teletext.Models.TVProgram

@{
    ViewData["Title"] = "View";
}

<h1>Admin</h1>

<a href="/Admin/AddTVProgram">Add New TVProgram</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
