@{
    ViewData["Title"] = "View";
}

<h1>Admin Menu</h1>

<a asp-action="TVProgramMenu">TVProgram menu</a>

<a asp-action="ScheduleMenu">Schedule Menu</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
