@model AiringSchedule

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="TVProgram" class="control-label">TvProgram Name</label>
    <select asp-for="TVProgramId" class="form-control">
        @foreach (var item in ViewBag.Programs)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </select>
    <span asp-validation-for="TVProgramId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="StartDate" class="control-label"></label>
    <input asp-for="StartDate" class="form-control" type="date" />
    <span asp-validation-for="StartDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Day" class="control-label"></label>
    <select asp-for="Day" class="form-control">
        @foreach (var item in Enum.GetValues(typeof(DayOfWeek)))
        {
            <option value="@item">@item</option>
        }
    </select>
    <span asp-validation-for="Day" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Time" class="control-label"></label>
    <input asp-for="Time" class="form-control" />
    <span asp-validation-for="Time" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>